<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="w-100 h-100 flex-center">
    <mat-card appearance="outlined" class="flex-col auth-form">
      <mat-card-content>
        <div class="flex-col gap-20">
          <h1>Login</h1>
          <div class="flex-col">
            <label for="login">Email</label>
            <input
              id="login"
              type="email"
              placeholder="Enter email here..."
              formControlName="email"
            />
          </div>

          @if(isEmailInvalid()){
            <p class="control-error">{{getEmailErrorMessage()}}</p>
            }

          <div class="flex-col">
            <label for="password">Password</label>
            <input
              id="password"
              type="password"
              placeholder="Enter password here..."
              formControlName="password"
            />
          </div>

          @if(isPasswordInvalid()){
            <p class="control-error">Please enter valid password</p>
            }

          <button type="submit">Login</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</form>
