<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="w-100 h-100 flex-center">
    <mat-card appearance="outlined" class="flex-col auth-form">
      <mat-card-content>
        <div class="flex-col gap-20">
          <h1>Login</h1>
          <div class="flex-col">
            <label for="login">Username</label>
            <input
              id="login"
              type="username"
              placeholder="Enter your username here..."
              formControlName="username"
            />
            @if(isUsernameInvalid()){
            <p class="control-error">
              {{
                loginForm.get("username") | requiredErrorMessage : "Username"
              }}
            </p>
            }
          </div>

          <div class="flex-col">
            <div class="flex-col password-container">
              <label for="password">Password</label>
              <input
                id="password"
                [type]="showPassword ? 'text' : 'password'"
                placeholder="Enter your password here..."
                formControlName="password"
              />
              <span
                type="button"
                (click)="togglePasswordVisibility()"
                class="toggle-password"
              >
                {{ showPassword ? "🙈" : "👁️" }}
              </span>
            </div>
            @if(isPasswordInvalid()){
            <p class="control-error">
              {{ loginForm.get("password") | passwordErrorMessage }}
            </p>
            }
          </div>

          <button type="submit">Login</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</form>
