.mat-mdc-dialog-title {
  font-weight: 500;
  font-size: 20px;
}

.mat-mdc-dialog-content {
  overflow: auto;
}

.dialog-container {
  .flex-col + .flex-col {
    margin-top: 20px;
  }
}

input.ng-invalid {
  background-color: #fbdcd6;
  border-color: #f84e2c;
  &::placeholder {
    color: #f84e2c;
  }
}
